/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input {
    width: 100%;
}

textarea{
    margin: 20px;
    width: 90%;
    height: 250px;
}

button{
    margin: 10px;
    font-size: 15px;
}

table{
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
}

.heading{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 13px -3px #222 inset;
    -moz-box-shadow: 0 8px 13px -3px #222 inset;
    box-shadow: 0 8px 13px -3px #222 inset;
}

.mainarea{
    margin: 100px 0px;
}

.copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 13px -3px #222 inset;
    -moz-box-shadow: 0 8px 13px -3px #222 inset;
    box-shadow: 0 8px 13px -3px #222 inset;
}